#board9{
  display: grid;
  grid-template-columns: 20% 20% 20%;
  //grid-template-rows: 15% 15% 15%;
  justify-content: space-between;
  align-content: space-between;
}
#board25{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  
}
.board {
  border: 2px black solid;
  padding: 10px;
  background-color: darkgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  aspect-ratio: 1;
  background: url(3cBg.jpg) no-repeat center fixed; 
  background-size: cover;
}


.cell {
  display: block;
  //padding: 15px;
  //white-space: pre;
 // width: 20%;
 // height: 20%;
  border-radius: 50%;
  aspect-ratio: 1;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  background-color: teal;
  font-size: 24px;
  text-align: center;
  
}

.cell.won{
  background-color: rgb(90, 240, 120); 
  color: indianred;
}

#selected {
  border: 1.5px blue solid;
  background-color: greenyellow;
  
}

#activePlayer {
  padding: 5px:
  border: 1px blue solid;
  background-color: teal;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

#winnerModal{
  background-color: bisque;
}


#root {
  margin-bottom: 50px;
  border: 1px black solid;
  padding: 4px;
  background-color: rgba(10,10,10, .5);
                        
}

h1 {
  text-align: center;
}

body {
  background-color: black;
}


footer {
  background-color: darkgrey;
  font-weight: bold;
}
